@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Kaushan+Script&display=swap');
@use "postcss-preset-env";

:root {
  --main-bg: hsl(202, 100%, 74%);
  --lighter-cloud: hsl(0, 0%, 100%);
  --darker-cloud: hsl(202, 100%, 85%);
  --on-background: hsl(0, 0%, 1%);
  --loader-bg: hsla(0, 0%, 100%, 0.8);
}

[data-theme="dark"] {
  --main-bg: hsl(207, 24%, 7%);
  --lighter-cloud: hsl(208, 14%, 32%);
  --darker-cloud: hsl(208, 14%, 22%);
  --on-background: hsl(0, 0%, 96%);
  --loader-bg: rgba(0, 0, 0, .8);
  background-image: url("./assets/svg/clouds-night.svg");
}

html {
  box-sizing: border-box;
}

body {
  margin: 0;
  min-height: 100vh;
  background-image: url("./assets/svg/clouds.svg");
  transition: background-image 0.5s ease-in-out;
  padding: 0 15px;
}

h1 {
  text-align: center;
  margin-top: 25px;
  margin-bottom: 15px;
  font-size: 40px;
  letter-spacing: 5px;
  font-family: 'Kaushan Script', cursive;
  color: var(--on-background);
  transition: color 0.5s ease-in-out;
}

/* Loader */
.loader:not([hidden]) {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left:0;
  background: var(--loader-bg);
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Image Container */
.image-container {
  column-count: 3;
  column-gap: 5px;
  width: 70vw;
  margin: auto;
}

.image-container img {
  width: 100%;
  height: 100%;
  object-fit: contain;  
}

.image-link {
  position: relative;
  display: block;
  & .modal-close {
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
    font-size: 50px;
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
  }
  &:hover .modal-close {
    opacity: 1;
  }
}

.image-modal {
  transition: width, height 0.5s ease-in-out;
}

.modal-close {
  position: absolute;
  right: 20px;
  top: 20px;
}

.image-modal.open {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left:0;
  margin: auto;;
  background: var(--loader-bg);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 100;
  width: 80vw;
  height: 80vh;
  box-shadow: 0 0 0 1000px var(--loader-bg);

  & img {
    max-width: 80vh;
    max-height: 80vh;
    object-fit: contain;
  }
}


body {
  background-color: #1E314F;
  font-family: 'Helvetica Rounded', 'Arial Rounded MT Bold','Montserrat', sans-serif;
  color: #fff;
}

.main-header {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 32px;
}

.main-header h1, .toggleWrapper {
  margin-inline-start: auto;
}

.toggleWrapper {
  right: 20px;
  overflow: hidden;
  
  & input {
    position: absolute;
    left: -99em;
  }
}

.toggle {
  cursor: pointer;
  display: inline-block;
  position: relative;
  width: 90px;
  height: 50px;
  background-color: #7aceff;
  border: 1px solid var(--on-background);
  border-radius: 84px;
  transition: background-color 200ms cubic-bezier(0.445, 0.05, 0.55, 0.95);
}

.toggle__handler {
  display: inline-block;
  position: relative;
  z-index: 1;
  top: 3px;
  left: 3px;
  width: 44px;
  height: 44px;
  background-color: #FFCF96;
  border-radius: 50px;
  box-shadow: 0 2px 6px rgba(0,0,0,.3);
  transition: all 400ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
  transform:  rotate(-45deg);
  
  & .crater {
    position: absolute;
    background-color: #E8CDA5;
    opacity: 0;
    transition: opacity 200ms ease-in-out;
    border-radius: 100%;
  }
  
  & .crater--1 {
    top: 18px;
    left: 10px;
    width: 4px;
    height: 4px;
  }
  
  & .crater--2 {
    top: 28px;
    left: 22px;
    width: 6px;
    height: 6px;
  }
  
  & .crater--3 {
    top: 10px;
    left: 25px;
    width: 8px;
    height: 8px;
  }
}

.star {
  position: absolute;
  background-color: #ffffff;
  transition: all 300ms cubic-bezier(0.445, 0.05, 0.55, 0.95);
  border-radius: 50%;
}

.star--1 {
  top: 10px;
  left: 35px;
  z-index: 0;
  width: 30px;
  height: 3px;
}

.star--2 {
  top: 18px;
  left: 28px;
  z-index: 1;
  width: 30px;
  height: 3px;
}

.star--3 {
  top: 27px;
  left: 40px;
  z-index: 0;
  width: 30px;
  height: 3px;
}
    
.star--4,
.star--5,
.star--6 {
  opacity: 0;
  transition: all 300ms 0 cubic-bezier(0.445, 0.05, 0.55, 0.95);
}

.star--4 {
  top: 16px;
  left: 11px;
  z-index: 0;
  width: 2px;
  height: 2px;
  transform: translate3d(3px,0,0);
}

.star--5 {
  top: 32px;
  left: 17px;
  z-index: 0;
  width: 3px;
  height: 3px;
  transform: translate3d(3px,0,0);
}

.star--6 {
  top: 36px;
  left: 28px;
  z-index: 0;
  width: 2px;
  height: 2px;
  transform: translate3d(3px,0,0);
}

input:checked {
  + .toggle {
    background-color: #749DD6;
  
    &:before {
      color: #749ED7;
    }

    &:after {
      color: #ffffff;
    }
    
    & .toggle__handler {
      background-color: #FFE5B5;
      transform: translate3d(40px, 0, 0) rotate(0);
  
      & .crater { opacity: 1; }
    }
    
    & .star--1 {
      width: 2px;
      height: 2px;
    }
    
    & .star--2 {
      width: 4px;
      height: 4px;
      transform: translate3d(-5px, 0, 0);
    }
    
    & .star--3 {
      width: 2px;
      height: 2px;
      transform: translate3d(-7px, 0, 0);
    }
    
    & .star--4,
    & .star--5,
    & .star--6 {
      opacity: 1;
      transform: translate3d(0,0,0);
    }
    & .star--4 {
      transition: all 300ms 200ms cubic-bezier(0.445, 0.05, 0.55, 0.95);
    }
    & .star--5 {
      transition: all 300ms 300ms cubic-bezier(0.445, 0.05, 0.55, 0.95);
    }
    & .star--6 {
      transition: all 300ms 400ms cubic-bezier(0.445, 0.05, 0.55, 0.95);
    }
  }
}

@media (max-width:641px)  {
  h1 {
    font-size: 20px;
  }
  .image-container {
    column-count: 1;
    width: 100%;
  }
}
